h1 {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;  
    
}
.bg-primary{
    background-color: #2c3e50 !important;
}

img{
   max-width: 20%;

}